@import "./_variables.scss";
@import "./_mixins.scss";
@import "../Components/App/App.scss";
@import "../Components/Login/Login.scss";
@import "../Components/LocationCard/LocationCard.scss";
@import "../Components/LocationContainer/LocationContainer.scss";
@import "../Components/Header/Header.scss";
@import "../Components/AreaCard/AreaCard.scss";
@import "../Components/AreaContainer/AreaContainer.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
