.card{
  width:300px;
  img {
    width:100%;
    height:100%;
    object-fit:cover;
  }
  .img-container {
  width: 100%;
  height:200px;
  overflow: hidden;
  }
  .card-heading{
    position: absolute;
    color:white;
  }
  .card-sub-heading{

    position: absolute;
    top:4rem;
    color:white;
  }
}

article {
  background-color: white;
  width:800px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: .5rem;
  display: flex;
  flex-direction: column;
}

.favorite {
  background-color: red;
}
.add-to-favorites {
  background-color: pink;
  color:grey;
}
