header {
  padding-bottom:10px;
  border-bottom:1px solid #979797;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:70px;

  .logo {
    font-size:38px;
    font-weight:bold;
    // @include colorPurple();
    // color:$primary-purple;
    color:#ab49d4;
  }

  button {
    display: inline-flex;
    align-self: flex-start;
    width:unset;
  }
}
