.dashboard {
  display: flex;
  flex-flow: wrap;
  nav{
    width:100%;
  }

  .content-wrapper {
    display:flex;
    align-items:flex-start;
    margin-top:20px;
  }
  ul {
    display: flex;
  }

  margin-top:20px;
}
