footer {
  width:100%;
  text-align:center;
  max-height:4.5rem;
  border-top:1px solid #979797;
  padding-top:20px;
  display: flex;
  flex-flow: column;
  margin-top:auto;

  * {
    color:#616161;
  }

  p {
    letter-spacing: 1px;
    font-size:14px;
    font-weight:500;

    span {
      display:block;
    }
  }

}
