input {
  @include input();
}

button {
  @include button();
}

form {
  @include form();
  background-color: #fafafa;
  width: 320px;

  input, select {
    background-color:$off-white;
    border-bottom:1px solid $light-gray;
    padding: 10px 10px 10px 5px;
    font-size:16px;
    border-radius:0;
    position:relative;
  }

  select {
    height:50px;
    position:relative;
    box-shadow:inset 0;
  }
}

.input-wrapper {
  display:flex;
  flex-direction: column;
  height: 6rem;
}

.error {
  color:orange;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  height:1rem;
  align-self: baseline;
}

select {
  @include input();
}
